<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.smart_contract_code') %></div>
      <div class="card-body">
        <div>
          <a href="https://etherscan.io/address/<%= @address %>#code#L1">Contract Source Code on Etherscan.io</a>
        </div>
      </div>
    </div>
  </div>
</div>
